<div class="container" ng-controller="ballotCtrl">

    {{ message }}


    <div class="row">

        <div class="col-md-9" class="form-group">

            <select ng-options="election[0].title for election in allElections" ng-model="election" ng-change="findAllElectionInfo(election)" name="election.election_id" id="election.election_id" class="form-control">
                <option value="">- Select Election -</option>
            </select>

            <div ng-hide="!hasSelectedElection">
                <br/><br/><br/>

                {{ info }}

                <div class="thumbnail">
                    <div class="caption-full">
                        <div ng-bind-html="election_info"></div>
                    </div>
                </div>

                <div ng-hide="manager_check()">
                    <center>
                        <button type="button" ng-hide="!isPollEnabled" ng-click="changePollStatus()" class="btn btn-danger">Disable Polling</button>
                        <button type="button" ng-hide="isPollEnabled" ng-click="changePollStatus()" class="btn btn-success">Enable Polling</button>
                    </center><br/>
                </div>
                <div class="well">

                    <div class="row">

                        <div ng-repeat="name in candidate track by $index">
                            <div ng-bind-html="name"></div>
                        </div>

                    </div>

                </div>

                <div class="thumbnail" ng-hide="!showVoting()">

                    <form>
                        <center><h2>Voting Ballot</h2></center>

                        <div ng-repeat="person in people">
                            <h4>
                                <input type="radio" ng-model="$parent.selected_candidate" value="{{person.candidate_id}}" required />
                                {{person.first_name + " " + person.last_name}}
                            </h4>
                        </div>


                        <button type="submit" class="btn btn-success" ng-click="castVote()">Cast Your Vote!</button>
                    </form>
                </div>


                <div class="thumbnail" ng-hide="!hasEndDatePassed">

                    <center><h2>Precinct Election Results</h2><br/>

                        <h4><div ng-bind-html="print_winner"></div></h4></center>
                    <br/>

                    <font size="4">The voting results for this precinct are as follows </font><br/>
                    <div ng-repeat="resultsDetails in print_results track by $index">
                        <div ng-bind-html="resultsDetails"></div>
                    </div>


                </div>
            </div>

        </div>

    </div>

</div>