<div class="container" ng-controller="ballotCtrl">

    {{ message }}

    <!-- {{ allElections }} -->

    <div class="row">

        <!--<div class="col-md-3">
            <p class="lead">Available Elections</p>
            <div class="list-group" ng-repeat="election in allElections">
                <a href="" ng-model="election.election_id" ng-change="populateBallot(election.election_id)" class="list-group-item" name="election.election_id" id="election.election_id">{{ election.title }}</a>
            </div>
        </div>-->


        <div class="col-md-9">

            <select ng-options="election.title for election in allElections" ng-model="election.election_id" ng-change="findAllElectionInfo(election.election_id)"  name="election.election_id" id="election.election_id">
                <option value="">- Select Election -</option>
            </select>

            <div class="thumbnail">
                <div class="caption-full">
                    <h2><div ng-bind-html="election_title"></div></h2>
                    <h3><div ng-bind-html="election_startDate"></div> to <div ng-bind-html="election_endDate"></div></h3>
                    <h4><div ng-bind-html="election_description"></div></h4>
                    <h4><div ng-bind-html="election_level"></div></h4>
                </div>
            </div>

            <center><button type="button" ng-hide="!manager_check()" id="button" class="btn btn-danger">Activate/Deactivate Voting</button></center><br/>

            <div class="well">

                <div class="row">

                    <div ng-repeat="name in candidate track by $index">
                        <p ng-bind-html="name"></p>
                    </div>


                    <span class="pull-right"><input type="radio" name="candidate" value="1"> Hillary Clinton<br></span>

                </div>

                <hr>

                <hr>
                <div class="text-right">
                    <a href="dashboard.html" class="btn btn-success">Cast Your Vote</a>
                </div>
            </div>

        </div>

    </div>

</div>