<div class="container" ng-controller="dashboardCtrl">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Electoral System
                <small><p id="date"></p></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <div class="row">

        <h3><div ng-bind-html="election_title"></div></h3>

        <!-- CANDIDATE INFO-->

        <h5><div ng-bind-html="election_endDate"></div>
        <div ng-bind-html="election_startDate"></div></h5>

        <p><div ng-bind-html="election_description"></p>
    </div>

    <div class="row">
        <h3><label ng-model="dashboard.election_title" name="election_title">Presidential Election</label></h3>

        <h4><label ng-model="dashboard.candidate" name="candidate">Hillary Clinton</label> vs. <label ng-model="dashboard.candidate" name="candidate">Donald Trump</label></h4>

        <h5>Start Time: <label ng-model="dashboard.start_time" name="start_time">Mon Oct 31 2016 00:00:00 CST</label>
            <br/>End Time: <label ng-model="dashboard.end_time" name="end_time">Fri Nov 25 2016 00:00:00 CST</label></h5>

        <p><label ng-model="dashboard.election_description" name="election_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Laudantium veniam exercitationem expedita laborum at voluptate.
            Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</label></p>
        <a class="btn btn-primary" href="../bootstrap/ballot.html">Cast Vote<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <h3>Fundamentals Team Leader Election</h3>
        <h4>Anthony Maiers vs. Mohit Navlakha vs. Cindy Ta</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
        <a class="btn btn-primary" href="../bootstrap/ballot.html">Cast Vote<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.row -->

    <hr>

</div>
