<div class="container" ng-controller="loginCtrl">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Electoral System
                <small><p id="date"></p></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Project One -->
    <div class="row">
        <h3>Presidential Election</h3>
        <h4>Hillary Clinton vs. Donald Trump</h4>
        <h5>Start Time: Mon Oct 31 2016 00:00:00 CST<br/>End Time: Fri Nov 25 2016 00:00:00 CST</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        <a class="btn btn-primary" href="../bootstrap/ballot.html">Cast Vote<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <h3>Fundamentals Team Leader Election</h3>
        <h4>Anthony Maiers vs. Mohit Navlakha vs. Cindy Ta</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
        <a class="btn btn-primary" href="../bootstrap/ballot.html">Cast Vote<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.row -->

    <hr>

</div>