<div class="container" ng-controller="loginCtrl">
    <h1>Login</h1>
    {{ message }}
    <form ng-submit="validateLogin()">
        <div class="form-group">
            <label for="username">Voter-ID:</label>
            <input type="text" ng-model="login.user_name" name="username" id="username" tabindex="1" class="form-control" placeholder="Voter-ID" value="">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" ng-model="login.password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Login</button>
    </form>

    <a ng-click="redirectToCreateAccountPage()" class="register">Don't have an Account?</a><br/>
    <a href="../bootstrap/login.html" class="forgot-password">Forgot Password?</a>
</div>