<div class="container" ng-controller="newPollCtrl">
    <h1>Create New Poll</h1><br/>

    <form ng-submit="createNewPoll">
        <div class="form-group">
            <label for="email">Election Title:</label>
            <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Enter Election Title" value="">
        </div>
        <div class="form-group">
            <label for="description">Election Description:</label>
            <input type="text" name="description" id="description" tabindex="1" class="form-control" placeholder="Election Description" value="">
        </div>
        <div class="form-group">
            <label for="location">Election Location:</label>
            <input type="text" name="location" id="location" tabindex="2" class="form-control" placeholder="Election Location">
        </div>

        <div class="form-group">
            <label>Election Precinct Range:</label>
            <input type="text" name="precinct_start" id="precinct_start" tabindex="3" class="form-control" placeholder="Precinct Start">
            <label> to </label>
            <input type="text" name="precinct_end" id="precinct_end" tabindex="4" class="form-control" placeholder="Precinct End">
        </div>

        <div class="form-group">
            <label>Election Time Constraints:</label>
            <input type="text" name="datetime_start" id="datetime_start" tabindex="4" class="form-control" placeholder="Start Date Time">
            <input type="text" name="datetime_end" id="datetime_end" tabindex="4" class="form-control" placeholder="End Date Time">
        </div>

        <div class="form-group">
            <label>Candidates:</label>

            <fieldset  data-ng-repeat="choice in choices">
                <input type="text" ng-model="choice.firstname" name="firstname" placeholder="Candidate's First Name">
                <input type="text" ng-model="choice.lastname" name="lastname" placeholder="Candidate's Last Name">
                <select ng-model="choice.partyname" name="partyname" tabindex="1" class="form-control" id="designation">
                    <option>Democratic</option>
                    <option>Republican</option>
                    <option>Independent</option>
                </select>
                <input type="text" ng-model="choice.designation" name="designation" placeholder="Candidate's Designation">
                <input type="text" ng-model="choice.biography" name="biography" placeholder="Candidate's Biography">
                <input type="text" ng-model="choice.website" name="website" placeholder="Candidate's Website">

                <button class="remove" ng-show="$last" ng-click="removeChoice()">Remove Candidate</button>

            </fieldset>
            <button class="addfields" ng-click="addNewChoice()">Add Candidate</button>
        </div>

        <div class="form-group">
            <label>Election Level:</label>
            <input type="text" name="election_level" id="election_level" tabindex="4" class="form-control" placeholder="Election Level">
        </div>

        <button type="submit" class="btn btn-default">Create New Poll</button>
    </form>
</div>