<div class="container" ng-controller="newPollCtrl">
    <h1>Create New Poll</h1><br/>

    {{ message }}

    {{ existingCandidates }}

    {{ candidates }}

    <form>
        <div class="form-group">
            <label for="newpoll.title">Election Title:</label>
            <input type="text" ng-model="newpoll.title" name="newpoll.title" id="newpoll.title" tabindex="1" class="form-control" placeholder="Election Title">
        </div>

        <div class="form-group">
            <label for="newpoll.description">Election Description:</label>
            <input type="text" ng-model="newpoll.description" name="newpoll.description" id="newpoll.description" tabindex="2" class="form-control" placeholder="Election Description">
        </div>

        <div class="form-group">
            <label>Election Time Constraints:</label>
            <input type="text" ng-model="newpoll.datetime_start" name="newpoll.datetime_start" id="newpoll.datetime_start" tabindex="6" class="form-control" placeholder="Start Date Time">
            <input type="text" ng-model="newpoll.datetime_end" name="newpoll.datetime_end" id="newpoll.datetime_end" tabindex="7" class="form-control" placeholder="End Date Time">
        </div>

        <div class="form-group">
            <label>Election Location Level:</label>
            <select ng-model="newpoll.election_level" ng-change="selectSublevel(newpoll.election_level)" name="newpoll.election_level" tabindex="1" class="form-control" id="election_level">
                <option value="">- Select Election Level -</option>
                <option>Country</option>
                <option>State</option>
                <option>County</option>
            </select>
        </div>

        <div class="form-group">
            <fieldset data-ng-repeat="linkCandidate in linkCandidates">

                <label>Select Sublevel</label><br/>

                <!-- States -->
                <select ng-show="stateSelected()" data-ng-options="state.state_name for state in allStates" ng-model="linkCandidate.state" name="linkCandidate.state" id="state.state_name">
                    <option value="">- Select State -</option>
                </select>

                <!-- Counties -->
                <select ng-show="countySelected()" data-ng-options="county.county_name for county in allCounties" ng-model="linkCandidate.county" name="linkCandidate.county" id="county.county_name">
                    <option value="">- Select County -</option>
                </select>

                <!-- Precincts -->
                <select ng-show="precinctSelected()" data-ng-options="precinct.zipcode_start + ' to ' + precinct.zipcode_end for precinct in allPrecincts" ng-model="precinct.precinct_id" ng-change="findAssignedManager(precinct.precinct_id)"  name="precinct.precinct_id" id="precinct.precinct_id">
                    <option value="">- Select Precinct -</option>
                </select>

                <div class="form-group">
                    <label>Candidates:</label><br>

                    <fieldset data-ng-repeat="existingCandidate in existingCandidates">
                        <select data-ng-options="candidate.first_name + ' ' + candidate.last_name for candidate in allCandidates" ng-model="existingCandidate.candidate" name="existingCandidate.candidate" id="existingCandidate.candidate">
                            <option value="">- Select Existing Candidate -</option>
                        </select>

                        <button class="remove" ng-show="$last" ng-click="removeExistingCandidate()">Remove Existing Candidate</button>

                    </fieldset>
                    <button class="addfields" ng-click="addNewExistingCandidate()">Add Existing Candidate</button>


                    <br/><br/>

                    <fieldset data-ng-repeat="candidate in candidates">
                        <input type="text" ng-model="candidate.firstname" name="firstname" placeholder="Candidate's First Name">
                        <input type="text" ng-model="candidate.lastname" name="lastname" placeholder="Candidate's Last Name">
                        <select ng-model="candidate.partyname" name="partyname" tabindex="1" class="form-control" id="partyname">
                            <option>Democratic</option>
                            <option>Republican</option>
                            <option>Independent</option>
                        </select>
                        <input type="text" ng-model="candidate.designation" name="designation" placeholder="Candidate's Designation">
                        <input type="text" ng-model="candidate.biography" name="biography" placeholder="Candidate's Biography">
                        <input type="text" ng-model="candidate.website" name="website" placeholder="Candidate's Website">

                        <button class="remove" ng-show="$last" ng-click="removeCandidate()">Remove Candidate</button>

                    </fieldset>
                    <button class="addfields" ng-click="addNewCandidate()">Create New Candidate</button>
                </div>

            <button class="remove" ng-show="$last" ng-click="removeLinkCandidate()">Remove Link</button>

            </fieldset>
            <button class="addfields" ng-click="addNewLinkCandidate()">Add Link from Candidate to Level</button>

        </div>



        <button type="submit" class="btn btn-default" ng-click="createNewPoll()">Create New Poll</button>
    </form>
</div>