<div class="container" ng-controller="newPollCtrl">
    <h1>Create New Poll</h1><br/>

    {{ message }}

    {{ existingCandidates }}

    {{ candidates }}

    {{ precincts }}

    <form ng-submit="createNewPoll()">
        <div class="form-group">
            <label for="newpoll.title">Election Title:</label>
            <input type="text" ng-model="newpoll.title" name="newpoll.title" id="newpoll.title" tabindex="1" class="form-control" placeholder="Election Title">
        </div>

        <div class="form-group">
            <label for="newpoll.description">Election Description:</label>
            <input type="text" ng-model="newpoll.description" name="newpoll.description" id="newpoll.description" tabindex="2" class="form-control" placeholder="Election Description">
        </div>

        <div class="form-group">
            <label>Election Time Constraints:</label>
            <input type="text" ng-model="newpoll.datetime_start" name="newpoll.datetime_start" id="newpoll.datetime_start" tabindex="6" class="form-control" placeholder="Start Date Time">
            <input type="text" ng-model="newpoll.datetime_end" name="newpoll.datetime_end" id="newpoll.datetime_end" tabindex="7" class="form-control" placeholder="End Date Time">
        </div>

        <div class="form-group">
            <label>Election Location Level:</label>
            <input type="text" name="newpoll.election_level" id="election_level" tabindex="8" class="form-control" placeholder="Election Level">
        </div>

        <div class="form-group">
            <label>Candidates:</label><br>

            <fieldset data-ng-repeat="existingCandidate in existingCandidates">
                <select data-ng-options="candidate.first_name + ' ' + candidate.last_name for candidate in allCandidates" ng-model="existingCandidate.candidate" name="existingCandidate.candidate" id="existingCandidate.candidate">
                    <option value="">- Select Existing Candidate -</option>
                </select>

                <button class="remove" ng-show="$last" ng-click="removeExistingCandidate()">Remove Existing Candidate</button>

            </fieldset>
            <button class="addfields" ng-click="addNewExistingCandidate()">Add Existing Candidate</button>


            <br/><br/>

            <fieldset data-ng-repeat="candidate in candidates">
                <input type="text" ng-model="candidate.firstname" name="firstname" placeholder="Candidate's First Name">
                <input type="text" ng-model="candidate.lastname" name="lastname" placeholder="Candidate's Last Name">
                <select ng-model="candidate.partyname" name="partyname" tabindex="1" class="form-control" id="designation">
                    <option>Democratic</option>
                    <option>Republican</option>
                    <option>Independent</option>
                </select>
                <input type="text" ng-model="candidate.designation" name="designation" placeholder="Candidate's Designation">
                <input type="text" ng-model="candidate.biography" name="biography" placeholder="Candidate's Biography">
                <input type="text" ng-model="candidate.website" name="website" placeholder="Candidate's Website">

                <button class="remove" ng-show="$last" ng-click="removeCandidate()">Remove Candidate</button>

            </fieldset>
            <button class="addfields" ng-click="addNewCandidate()">Create New Candidate</button>
        </div>

        <div class="form-group">
            <label>Election Precinct Range with Manager Assignment:</label><br>

            <fieldset data-ng-repeat="precinct in precincts">
                <input type="text" ng-model="precinct.zipcode_start" name="precinct.zipcode_start" placeholder="Precinct Start">
                <label> to </label>
                <input type="text" ng-model="precinct.zipcode_end" name="precinct.zipcode_end" id="precinct.zipcode_end" placeholder="Precinct End">


                <select ng-options="manager.first_name + ' ' + manager.last_name for manager in allManagers" ng-model="precinct.manager" name="precinct.manager" id="precinct.manager">
                    <option value="">- Select Manager -</option>
                </select>


                <button class="remove" ng-show="$last" ng-click="removePrecinct()">Remove Precinct</button>

            </fieldset>
            <button class="addfields" ng-click="addNewPrecinct()">Add Precinct</button>
        </div>

        <button type="submit" class="btn btn-default">Create New Poll</button>
    </form>
</div>