<div class="container" ng-controller="profileCtrl">
    <h1>Manage Your Account</h1><br/>

    {{ message }}


    <form ng-submit="updateProfile()">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" ng-model="profile.first_name" name="first_name" id="first_name" tabindex="1" class="form-control" placeholder="First Name" value="">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" ng-model="profile.last_name" name="last_name" id="last_name" tabindex="1" class="form-control" placeholder="Last Name" value="">
        </div>
        <div class="form-group">
            <label for="government_ID">Government ID:</label>
            <input type="text" ng-model="profile.government_ID" name="government_ID" id="government_ID" tabindex="1" class="form-control" placeholder="Government ID" value="">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" ng-model="profile.age" name="age" id="age" tabindex="1" class="form-control" placeholder="Age" value="">
        </div>
        <div class="form-group">
            <label for="gender">Select Gender</label>
            <select ng-model="profile.gender" name="gender" tabindex="1" class="form-control" id="gender">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="contact_number">Contact Number:</label>
            <input type="text" ng-model="profile.contact_number" name="contact_number" id="contact_number" tabindex="1" class="form-control" placeholder="Contact Number" value="">
        </div>
        <div class="form-group">
            <label for="address_line1">Address Line 1:</label>
            <input type="text" ng-model="profile.address_line1" name="address_line1" id="address_line1" tabindex="1" class="form-control" placeholder="Address Line 1" value="">
        </div>
        <div class="form-group">
            <label for="address_line2">Address Line 2:</label>
            <input type="text" ng-model="profile.address_line2" name="address_line2" id="address_line2" tabindex="1" class="form-control" placeholder="Address Line 2" value="">
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" ng-model="profile.city" name="city" id="city" tabindex="1" class="form-control" placeholder="City" value="">
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" ng-model="profile.state" name="state" id="state" tabindex="1" class="form-control" placeholder="State" value="">
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" ng-model="profile.country" name="country" id="country" tabindex="1" class="form-control" placeholder="Country" value="">
        </div>
        <div class="form-group">
            <label for="zip_code">Zip Code:</label>
            <input type="text" ng-model="profile.zip_code" name="zip_code" id="zip_code" tabindex="1" class="form-control" placeholder="Zip Code" value="">
        </div>

        <button type="submit" class="btn btn-default">Submit Profile Info</button>
    </form>







    <!-- <form>
        <div class="form-group">
            <label for="email">Change E-mail Address:</label>
            <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Enter E-mail" value="">
        </div>
        <div class="form-group">
            <label for="password1">Change Password:</label>
            <input type="password" name="password1" id="password1" tabindex="1" class="form-control" placeholder="Create Password" value="">
        </div>
        <div class="form-group">
            <label for="password2">Verify Password:</label>
            <input type="password" name="password2" id="password2" tabindex="2" class="form-control" placeholder="Verify Password">
        </div>

        <a href="verification.html" class="btn btn-default">Register</a>
    </form>

    <a href="../bootstrap/login.html">Already have an Account?</a> -->
</div>