<div class="container" ng-controller="searchCtrl">

    <h1>Search Users</h1>

    {{ message }}

    <form ng-submit="searchClicked()">
        <div class="form-group">
            <label for="user_type">Select User Type</label>
            <select ng-model="search.user_type" name="user_type" tabindex="1" class="form-control" id="user_type">
                <option>Voter</option>
                <option>Manager</option>
            </select>
        </div>
        <div class="form-group">
            <label for="user_name">Voter/Manager ID:</label>
            <input type="text" ng-model="search.user_name" name="user_name" id="user_name" tabindex="2" class="form-control" placeholder="Search by Manager/Voter ID" value="">
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" ng-model="search.first_name" name="first_name" id="first_name" tabindex="3" class="form-control" placeholder="Search by First Name" value="">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" ng-model="search.last_name" name="last_name" id="last_name" tabindex="4" class="form-control" placeholder="Search by Last Name" value="">
        </div>
        <div class="form-group">
            <label for="government_id">Government ID:</label>
            <input type="text" ng-model="search.government_id" name="government_id" id="government_id" tabindex="5" class="form-control" placeholder="Search by Government ID" value="">
        </div>
        <div class="form-group">
            <label for="zip_code">Zip Code:</label>
            <input type="text" ng-model="search.zip_code" name="zip_code" id="zip_code" tabindex="6" class="form-control" placeholder="Search by Zip Code" value="">
        </div>

        <button type="submit" class="btn btn-default">Search Database</button>
    </form>

</div>

