<div class="container" ng-controller="loginCtrl">
    <h1>Verify Your Account</h1>

    {{ message }}

    <form ng-submit="verifyUser()">
        <div class="form-group">
            <label for="vCode">Verification Code:</label>
            <input type="text" ng-model="verify.code" name="vCode" id="vCode" tabindex="1" class="form-control" placeholder="Verification Code" value="">
        </div>
        <div class="form-group">
            <label for="username">User-ID:</label>
            <input type="text" ng-model="verify.user_name" name="username" id="username" tabindex="1" class="form-control" placeholder="User-ID" value="">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" ng-model="verify.password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Verify Account</button>

    </form>

    <br><br><br>

    <h3>Resend Email Form</h3>
    <form ng-submit="resendEmail()">
        <div class="form-group">
            <label for="email_addr">Enter in Email to Resend Code:</label>
            <input type="text" ng-model="verify.email_addr" name="email_addr" id="email_addr" tabindex="1" class="form-control" placeholder="Email" value="">
        </div>
        <button type="submit" class="btn btn-default">Resend Email</button>
    </form>
</div>